body {
  color: white;
  background: black;
  font-size: 1.6em;
  margin-left: 30%;
  margin-right:30%;
  font-family: 'Lato', sans-serif;
}

#noteList{
    overflow-y: scroll; 
    width: 20%; 
    height: 85%; 
    position: absolute;
    right: 2%; 
    text-align: center; 
    border: .1em solid white; 
}

#riddle{ 
    font-size: .75em; 
    text-align: center; 
    padding: 5%; 
    background: gray; 
    margin-top: .35em; 
}

#center{
    position: absolute; 
    left: 7%; 
    width: 65%; 
    text-align: center;     
}

input {
  width: 100%;
  height: 30px;
  text-align:center;
  font-size: 1em;
  margin-top:15px;
}

#codeTextBox {
    visibility:hidden; 
    font-family:Courier New;
    color:green; 
    background-color:black
}

#hintText{
    font-size: 1em; 
    color: gray; 
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 580px) {
	body {
	  margin-right: 10%;
    margin-left: 10%;
    
  }
}