body {
  color: white;
  background-color: black;
  font-size: 1.6em;
  margin-left: 30%;
  margin-right:30%;
  font-family: 'Lato', sans-serif;
}

#images {
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}
input {
  width: 100%;
  height: 30px;
  text-align:center;
  font-size: 1em;
  margin-top:15px;
}

#hinttext{
    font-size: 1em; 
    color: gray; 
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 580px) {
	body {
	  margin-right: 10%;
    margin-left: 10%;
    
  }
}